@model IEnumerable<PS.Services.ViewModels.PetViewModel>
@{
    ViewData["Title"] = "Index";
}

<a class="btn btn-primary" href="@Url.Action("Create")">Adicionar um novo pet</a>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Data Criação</th>
                <th scope="col">Ativo</th>
                <th scope="col">Opções</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var pet in Model)
            {
                <tr>
                    <th scope="row">@pet.Name</th>
                    <td>@pet.Registration</td>
                    <td>@pet.Alive</td>
                    <td>
                        <a href="@Url.Action("Details", new {@id = pet.Id })">Detalhes</a>
                        <a href="@Url.Action("Edit",new {@id = pet.Id })">Editar</a>
                        <a href="@Url.Action("Delete",new {@id = pet.Id })">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

